{
  "swagger": "2.0",
  "info": {
    "description": "This is the API for cuHacking 2020.",
    "version": "1.0.2",
    "title": "Magneton (cuHacking 2020 API)",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.cuhacking.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "Mailing List",
      "description": "The mailing list - handles collection of emails"
    },
    {
      "name": "Users",
      "description": "Handles users and their accounts"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/mailinglist/subscribe": {
      "post": {
        "tags": [
          "Mailing List"
        ],
        "summary": "Subscribe a user to the mailing list",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Email to be subscribed",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "email": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Email successfully added"
          },
          "405": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Failure from Firestore or Mailchimp"
          }
        }
      }
    },
    "/mailinglist/{email}": {
      "get": {
        "tags": [
          "Mailing List"
        ],
        "summary": "Get a single email from Mailchimp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email to get",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Email successfully retrieved",
            "schema": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "operation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "items": {
                  "type": "integer"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error retrieving from Mailchimp"
          }
        },
        "security": [
          {
            "magneton_auth": [
              "admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Mailing List"
        ],
        "summary": "Delete an email from Mailchimp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Email successfully deleted"
          },
          "404": {
            "description": "Email was not found"
          }
        }
      }
    },
    "/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User data",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "username",
                "password"
              ],
              "properties": {
                "username": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "User successfully created"
          },
          "500": {
            "description": "Failure in parsing the token or creating the user in Firestore"
          }
        },
        "security": [
          {
            "magneton_auth": [
              "admin"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get all users in the database",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Users successfully retrieved",
            "schema": {
              "type": "object",
              "properties": {
                "operation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "items": {
                  "type": "integer"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error retrieving from Firestore"
          }
        },
        "security": [
          {
            "magneton_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/users/{uid}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a specific user in the database",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "description": "uid to get",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "User successfully retrieved",
            "schema": {
              "type": "object",
              "properties": {
                "operation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error retrieving from Firestore"
          }
        },
        "security": [
          {
            "magneton_auth": [
              "admin",
              "user"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update fields in a user",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "description": "uid of user to update",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "User successfully updated",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string"
                },
                "operation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "User is not authorized to update this user"
          },
          "500": {
            "description": "Error in modifying the user in the database"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user from the database",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "description": "uid of user to delete",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "User successfully deleted",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string"
                },
                "operation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "User was not found in the database"
          }
        }
      }
    },
    "/users/signin": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Signs in a user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User data",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "username",
                "password"
              ],
              "properties": {
                "username": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User successfully signed in"
          },
          "403": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/users/signout": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Signs out a user and revokes their session",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "User successfully signed out"
          },
          "500": {
            "description": "Error signing out"
          }
        }
      }
    },
    "/users/passwordReset": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Sends a password reset email",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Password reset email successfully sent"
          },
          "500": {
            "description": "Error sending password reset email"
          }
        }
      }
    },
    "/users/profile": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets the profile of the currently logged in user",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "User successfully retrieved",
            "schema": {
              "type": "object",
              "properties": {
                "operation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "magneton_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://cuhacking.com/users/signin",
      "flow": "implicit",
      "scopes": {
        "user": "Access own data",
        "admin": "Admin access"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}